<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :supplier_name %>
    <%= form.text_field :supplier_name %>
  </div>

  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut %>
  </div>

  <div class="field">
    <%= form.label :number_invoice %>
    <%= form.number_field :number_invoice %>
  </div>

  <div class="field">
    <%= form.label :purcharse_of_order %>
    <%= form.number_field :purcharse_of_order %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :chechk_in %>
    <%= form.time_select :chechk_in %>
  </div>

  <div class="field">
    <%= form.label :quantity_of_code %>
    <%= form.number_field :quantity_of_code %>
  </div>

  <div class="field">
    <%= form.label :net_price %>
    <%= form.number_field :net_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
